div.container_1>ul>li:nth-child(even) {
    color: pink;
}

div.container_2>ul>li:nth-child(odd) {
    font-size: 22px;
}

div.container_3>ul>li:nth-child(2n+4)::after {
    content: "!";
    color: red;
    font-size: 22px;
    font-weight: bold;

}

div.container_4>ul>li:last-child {
    color: purple;
}

div.container_5>ul>li::first-letter {
    font-size: 30px;
    color: red;
}
