header{
    height:60vh;
    background-color: aquamarine;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0;
}

section{
    height: 50vh;
    width: 32%;
    background-color: #49a586;
}

footer{
    height: 90vh;
    background-color: aquamarine;
}

body{
    margin: 2%;
}

header, section, footer{
    color: white;
    font-size: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
}
