*{
    margin:0;
}

.wrapper{
    height:100vh;
    display:grid;
    grid-template-columns:1fr 2.5fr 1fr;
    grid-template-rows:1fr 1.25fr 1.25fr 1fr;
    grid-template-areas:
    "header header header"
    "aside-left section-top aside-right"
    "aside-left section-bottom aside-right"
    "footer footer footer";
}

header{
    grid-area: header;
    background: #D9D9D9;
}

.wrapper aside:nth-child(2){
    grid-area: aside-left;
    background: #C0BDBD;
}

.wrapper section:nth-child(3){
    grid-area: section-top;
    background: #827878;
}

.wrapper section:nth-child(4){
    grid-area: section-bottom;
    background: #B7ADAD;
}

.wrapper aside:nth-child(5){
    grid-area: aside-right;
    background: #C0BDBD;
}

footer{
    grid-area: footer;
    background: #D9D9D9;
}
